<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <footer class="footer">
      <div class="footer__flex">
        <header class="footer__headding">
          <h2>Products</h2>
          <ul class="list__footer">
            <li><a href="">website Hosting</a></li>
            <li><a href="">Free Automated Wordpress</a></li>
            <li><a href="">Migrationss</a></li>
          </ul>
        </header>
        <header class="footer__headding">
          <h2>Company</h2>
          <ul class="list__footer">
            <li><a href="">About</a></li>
            <li><a href="">Affiliate</a></li>
            <li><a href="">Blog</a></li>
          </ul>
        </header>
        <header class="footer__headding">
          <h2>Support</h2>
          <ul class="list__footer">
            <li><a href="">Contact</a></li>
            <li><a href="">Knowledge</a></li>
            <li><a href="">Migrationss</a></li>
          </ul>
        </header>
      </div>
      <div class="footer__brand">
        <p class="footer__copyright">Copyright &copy; 2021 Douglas Mogoba</p>
      </div>
    </footer>
  </body>
</html>
